// @import 'abstracts/_function';

@import "abstracts/_variables";
@import "abstracts/_mixins";
@import "abstracts/_fonts";
@import "abstracts/_spacing";
@import "abstracts/_utilities";

//layout
@import "layout/_reboot";

//layout
@import "layout/_core";

//components
@import "components/_header";
@import "components/_section-group";
@import "components/_product";
@import "components/_news";
@import "components/_hotsale";
@import "components/_footer";
@import "components/cart-fail";

//pages
@import "pages/_home";
@import "pages/_detail";
@import "pages/_comment";
@import "pages/_cate";

@import "pages/_complete-cart";
@import "pages/_empty-cart";

a {
    color: $gray;
}

.vn__wrapper {
    @include respond-to("md") {
        max-width: 768px;
        margin: auto;
    }
}

.box-b-1 {
    box-shadow: inset 0px -1px 0px #e4eaf1;
}

.txt-blue {
    color: #1d48ba;
}

.circle {
    border-radius: 1000px;
}
