// @import 'abstracts/_function';

@import "abstracts/_variables";
@import "abstracts/_mixins";
@import "abstracts/_fonts";
@import "abstracts/_spacing";
@import "abstracts/_utilities";

//layout
@import "layout/_reboot";

//layout
@import "layout/_core";

//components
@import "components/_header";
@import "components/_section-group";
@import "components/_product";
@import "components/_news";
@import "components/_hotsale";
@import "components/_footer";

//pages
@import "pages/_home";
@import "pages/_detail";
@import "pages/_comment";
a{
    color: $gray;
}
.vn__wrapper{
    @include respond-to('md'){
        max-width: 768px;
        margin: auto;
    }
}