.cart-final {
  max-width: 776px;
  margin: auto;
  border-radius: 12px;
  overflow: hidden;

  box-shadow: 0px 1px 4px rgba(10, 10, 10, 0.15);
  background: #fff;
  @include respond-to("md") {
    border-radius: 0;
  }
  .cart {
    &-icon {
      i {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 72px;
        height: 72px;
        line-height: 72px;
        font-size: 36px;
        border-radius: 100px;
        text-align: center;
        background: #d4f5c4;
        border: none;
      }
    }
  }
  .vn-content {
    .table {
      width: 100%;
    }
    .table-user {
      td {
        &:nth-child(1) {
          width: 216px;
          @include respond-to("sm") {
            width: 116px;
          }
        }
      }
      tr {
        &:not(:first-child) {
          border-top: 1px solid #e9ecef;
        }
      }
    }
    .table-product {
      .item-img {
        flex-basis: 60px;
        max-width: 60px;
        a {
          position: relative;
          padding-top: 100%;
          overflow: hidden;
          display: block;
          img {
            object-fit: cover;
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
          }
        }
      }

      .item-detai--mb {
        display: none;
        @include respond-to("sm") {
          display: block;
        }
      }
    }
  }
}

.bg-blue-100 {
  background: #edf2f8 !important;
}

.txt-blue-700 {
  color: #072d94 !important;
}

.item-mess {
  margin-top: 4px;
  .list-group {
    li {
      display: block;
      padding-left: 10px;
      position: relative;
      &:before {
        font-family: "icon-system" !important;
        content: "\e943";
        font-size: 4px;
        display: inline-block;
        position: absolute;
        top: 6px;
        left: 1px;
        color: #718198;
        line-height: 100%;
      }
      a {
        display: inline-block;
        color: #1d48ba;
        position: relative;
        cursor: pointer;
        &:before {
          content: "";
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          height: 1px;
          transition: transform 0.6s ease, -webkit-transform 0.6s ease;
        }
      }
      @include respond-to("md") {
        padding-left: 12px;
      }
    }
  }
}

.cart-check {
  width: 246px;
  max-width: 100%;
  @include respond-to("xs") {
    width: 600px;
    max-width: 100%;
  }
  ul {
    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      span {
        @extend .fs-p-16;
        @extend .f-w-400;
        color: $gray-700;
        @include respond-to("xs") {
          font-size: 14px;
          line-height: 20px;
        }
      }
      &:not(:last-child) {
        @extend .m-b-8;
      }
      &:last-child {
        span {
          @extend .fs-p-16;
          @extend .f-w-500;
          &:not(:first-child) {
            color: #072d94;
          }
        }
      }
    }
  }
}

.col-hidden {
  @include respond-to("sm") {
    display: none;
  }
}

.cs-container {
  @include respond-to("md") {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
}
